---
  directories:
    base-dir: /<your-path-here>/eetemp
    scripts: experiment-scripts
    eeg-scripts: eeg-analysis-scripts
    raw-behavioral-dir: raw-behavioral
    analyzed-behavioral-dir: analyzed-behavioral
    raw-eeg-dir: raw-eeg
    analyzed-eeg-dir: analyzed-eeg
    stimuli: /<your-path-here>/stimuli/BOSS-stimuli
    practice-stimuli: /<your-path-here>/stimuli/practice-stimuli
    dropbox-folder: /<your-path-here>/eetemp
    logs-dir: logs
    vendor-dir: vendor
    subject-config-dir: subject-config-files
